.list-and-search-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Adjust as needed. If this is a popup, it might be set to a fixed height. */
}

.character-list-popup {
    flex-grow: 1;
    overflow-y: auto;  /* This ensures that if the list grows too long, it becomes scrollable. */
}

.search-container {
    /* You can add additional styles if needed */
}


.character-list-item {
    display: flex;
    align-items: center;  /* aligns items vertically in the middle */
    margin: 10px 0;      /* space between each list item */
    justify-content: space-between;  /* pushes content to the far edges */
}

.download-btn {
    background-color: #4CAF50;  /* green background */
    border: none;
    color: white;
    padding: 8px 15px;  /* adjust padding as needed */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;  /* optional space between button and edge */
    cursor: pointer;
    border-radius: 4px;  /* optional rounded corners */
}

.download-btn:hover {
    background-color: #45a049;  /* slightly darker green for hover effect */
}


.thumbnail {
    flex: 0 0 100px; /* this gives a fixed width of 100px to thumbnails, adjust as needed */
    height: 100px;  /* adjust height as needed */
    object-fit: cover;
    margin-right: 10px; /* space between thumbnail and description */
}

.info {
    flex: 1;  /* allows the description to take up the rest of the space */
    text-align: left;  /* aligns content to the left */
    overflow: hidden;  /* in case of long text */
}

.name {
    font-weight: bold;  /* Makes the name stand out */
    margin-bottom: 5px;
    text-align: left;  /* aligns content to the left */
}

.description {
    color: #666;  /* Darkens the description text slightly */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* Ensures that long descriptions end in an ellipsis */
    text-align: left;  /* aligns content to the left */
}

.search-container {
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

#characterSearchInput {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--SmartThemeBodyColor);
    display: inline-block;
    /* Change display to inline-block */
    vertical-align: middle;
    /* Align to middle if there's a height discrepancy */
    width: 200px;
    font-size: 16px;
    z-index: 10;
    margin-left: 10px;
    /* Give some space between the button and search box */
}
